body{
    background-color: rgb(241, 241, 150);
}
h1{
    text-align: center;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}
img.full-width{
    width:100%
}
.navbar{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:transparent;
 font-size:x-large;
 
}
.nav-link{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:red;
}



footer{
    background-color:greenyellow

}