body{
    background-color: rgb(241, 241, 150);
}
h1{
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar{
    background-color: rgb(241, 241, 150);
}

footer{
    color:greenyellow

}